{% extends "layout.html" %}

{% block title %}
    Cadastro
{% endblock %}

{% block main %}
    <h3 class='mb-3'>Cadastrar usuário</h3>
    <form action="/usuarios/cadastro" method="post">
        <div class="mb-3">
            Nome<input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="nome" placeholder="Nome" type="text" required>
        </div>
        <div class="mb-3">
            CPF<input class="form-control mx-auto w-auto" name="cpf" placeholder="CPF" type="text" required>
        </div>
        <div class="mb-3">
            Telefone<input class="form-control mx-auto w-auto" name="telefone" placeholder="Telefone" type="text" required>
        </div>
        <div class="mb-3">
            E-mail<input class="form-control mx-auto w-auto" name="e-mail" placeholder="E-mail" type="email">
        </div>
        <div class="mb-3">
            Endereço<input class="form-control mx-auto w-auto" name="endereço" placeholder="Endereço" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
{% endblock %}
