{% extends "layout.html" %}

{% block title %}
    Cadastro
{% endblock %}

{% block main %}
    <h3 class='mb-3'>Cadastrar usuário</h3>
    <div class="input-group-container">
        <h5 class='mb-3'>Dados de cadastro</h5>
        <form action="/usuarios/cadastro" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Nome</span>
                <input name="nome" type="text" class="form-control" placeholder="Nome" autocomplete="off" value="{{ usuario.nome }}" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">CPF</span>
                <input name="cpf" type="text" class="form-control" placeholder="CPF" autocomplete="off" value="{{ usuario.cpf }}" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Telefone</span>
                <input name="telefone" type="text" class="form-control" placeholder="Telefone" value="{{ usuario.telefone }}" autocomplete="off">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">E-mail</span>
                <input name="e-mail" type="text" class="form-control" placeholder="E-mail" value="{{ usuario.email }}" autocomplete="off">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Endereço</span>
                <input name="endereço" type="text" class="form-control" placeholder="Endereço" value="{{ usuario.endereço }}" autocomplete="off">
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="input-group mb-3">
                        <div class="input-group-text">
                                <input id="assinatura-checkbox" class="form-check-input" name="cadastrar-assinante" type="checkbox">
                        </div>
                        <div class="form-control">Cadastrar com assinatura</div>
                    </div>
                </div>
            </div>
            <div id="assinatura-container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Plano</span>
                            <input name="plano" type="text" class="form-control" value="{{ plano_default }}" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Data</span>
                            <input name="data" type="text" class="form-control" value="{{ hoje | data }}" disabled>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Prazo</span>
                            <input name="prazo" type="text" autocomplete="off" class="form-control" value="{{ prazo_default | data }}" placeholder="AAAA-MM-DD">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-light btn-border" type="submit">Cadastrar</button>
        </form>
    </div>
    <script>
        var checkbox = document.querySelector("#assinatura-checkbox");
        var container = document.getElementById("assinatura-container");
        checkbox.addEventListener("change", function() {
            if (container.style.display == "inline") {
                container.style.display = "none";
            }
            else {
                container.style.display = "inline"
            }
        });
    </script>
{% endblock %}
