{% extends "layout.html" %}

{% block title %}
    Usuários
{% endblock %}

{% block main %}
    <h3 class='mb-3'>Usuários</h3>
    <table class='table table-bordered table-striped' style='text-align:start'>
        <thead class="table-dark">
            <th>CPF</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Endereço</th>
                <th style="text-align: center;">
                    <a type='button' class="btn btn-success" href="usuarios/cadastro" style="width: 100%; height: 100%">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                        </svg>
                    </a>
                </th>
        </thead>
        <tbody>
        {% if contatos %}
            {% for contato in contatos %}
            <tr>
                <td>{{ contato.cpf }}</td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.endereço }}</td>
                <td class="options-cell">
                        <form action="/usuarios/detalhes" method="get">
                            <input name="detalhar" value="{{ contato.cpf }}" type='hidden'/>
                            <button type='submit' class="btn btn-outline-danger mx-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </button>
                        </form>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            {% if page_data.atual > 0 %}
                <div class="col-auto">
                    <form action="/usuarios" method="GET">
                        <input name="pagina" type="hidden" value="{{ page_data.atual - 1 }}">
                        <button class="btn btn-light btn-border" type="submit">&lt;&lt; Anterior</button>
                    </form>
                </div>
            {% endif %}
            {% if page_data.max > 0 %}
            <div class="col-auto">
                pág. {{ page_data.atual }}/{{ page_data.max }}
            </div>
            {% endif %}
    
            {% if page_data.atual < page_data.max and page_data.max > 0 %}
                <div class="col-auto">
                    <form action="/usuarios" method="GET">
                        <input name="pagina" type="hidden" value="{{ page_data.atual + 1 }}">
                        <button class="btn btn-light btn-border" type="submit">Próxima &gt;&gt;</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
