{% extends "layout.html" %}

{% block title %}
    Histórico
{% endblock %}

{% block main %}
    <h3 class='mb-3'>Histórico</h3>
    <div class="table-responsive">
        <table class='table table-bordered table-striped' style='text-align:start'>
            <thead class="table-dark">
                <th>Data</th>
                <th>Operação</th>
                <th>Nome</th>
                <th>Cpf</th>
                <th>Titulo</th>
            </thead>
            <tbody>
            {% if historico %}
                {% for registro in historico %}
                    <tr>
                        <td>{{ registro.data }}</td>
                        <td>{{ registro.operacao }}</td>
                        {% set nome = registro.nome if registro.nome else "--" %}
                        <td>{{ nome }}</td>
                        {% set cpf = registro.contato_cpf if registro.contato_cpf else "--" %}
                        <td>{{ cpf }}</td>
                        {% set titulo = registro.titulo if registro.titulo else "--" %}
                        <td>{{ titulo }}</td>
                    </tr>
                    {% endfor %}
            {% else %}
            <tr>
                <td colspan="5" style="text-align: center;">Nenhuma entrada cadastrada.</td>
            </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row justify-content-md-center align-items-center">
            {% if page_data.atual > 0 %}
                <div class="col-auto">
                    <form action="/historico" method="get">
                        <input name="pagina" type="hidden" value="{{ page_data.atual - 1 }}">
                        <button class="btn btn-light btn-border" type="submit">&lt;&lt; Anterior</button>
                    </form>
                </div>
            {% endif %}
            {% if page_data.max > 0 %}
            <div class="col-auto">
                pág. {{ page_data.atual }}/{{ page_data.max }}
            </div>
            {% endif %}
    
            {% if page_data.atual < page_data.max and page_data.max > 0 %}
                <div class="col-auto">
                    <form action="/historico" method="get">
                        <input name="pagina" type="hidden" value="{{ page_data.atual + 1 }}">
                        <button class="btn btn-light btn-border" type="submit">Próxima &gt;&gt;</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
