{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="container">
    <h5>Bem-vindo! - {{ hoje | data }}</h5>
    <hr>
    <span class="dashboard-info border-danger rounded-circle m-1"><tag style="font-size: small;">Acervo</tag><br><h3>{{ acervo }}</h3></span>
    <span class="dashboard-info border-danger rounded-circle m-1"><tag style="font-size: small;">Assinantes</tag><br><h3>{{ usuarios }}</h3></span>
</div>
<hr>
<div class="row justify-content-center my-4">
    <div class="col-xl-7 m-1 table-responsive">
        <h5>Empréstimos</h5>
        <table class="table table-striped" style="text-align: start">
            <thead class="table-dark">
                <th>Título</th>
                <th>Autor</th>
                <th>Usuário</th>
                <th>Prazo</th>
            </thead>
            <tbody>
                {% if emprestimos %}
                    {% for emprestimo in emprestimos %}
                        <tr>
                            <td>{{ emprestimo.titulo }}</td>
                            <td>{{ emprestimo.autor }}</td>
                            <td>{{ emprestimo.nome }}</td>
                            {% set color = "red" if emprestimo.atrasado == "true" else "green" %}
                                <td style="color : {{ color }} "><b>{{ emprestimo.prazo | data }}<b></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6">Nenhum empréstimo</td>
                    </tr>
                            
                {% endif %}
            </tbody>
        </table>
    </div>
    <div class="col-xl-4 m-1">
        <div class="table-responsive">
            <h5>Assinaturas ativas</h5>
            <table class="table table-striped" style="text-align: start">
                <thead class="table-dark">
                    <th>Usuário</th>
                    <th>Prazo</th>
                </thead>
                <tbody>
                    {% if assinaturas %}
                        {% for assinatura in assinaturas %}
                        <tr>
                            <td>{{ assinatura.nome }}</td>
                            <td>{{ assinatura.prazo | data }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="2">Nenhuma assinatura</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
