{% extends "layout.html" %}

{% block title %}
    Incluir
{% endblock %}

{% block main %}
<h3 class='mb-3'>Editar livro</h3>

<div class="input-group-container">
    <h5 class='mb-3'>{{ edited_book.titulo }}</h3>
    <form id="book-editing" action="/acervo/editar" method="post">
        <input type="hidden" name="previous_data" value="{{ edited_book }}">
        <input type="hidden" name="book_id" value="{{ edited_book.id }}">
        <div class="input-group mb-3">
            <span class="input-group-text">Id da obra</span>
            <div class="form-control" style="text-align: left; background-color:#e9ecef">{{ edited_book.id }}</div>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Título</span>
            <input name="titulo" type="text" class="form-control" autocomplete="off" value="{{ edited_book.titulo }}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Autor</span>
            <input name="autor" type="text" class="form-control" autocomplete="off" value="{{ edited_book.autor }}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Ano</span>
            <input name="ano" type="text" class="form-control" autocomplete="off" value="{{ edited_book.ano }}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Editora</span>
            <input name="editora" type="text" class="form-control" autocomplete="off" value="{{ edited_book.editora }}" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Status</span>
            <select name="status" type="text" class="form-control" autocomplete="off" required>
                {% if edited_book.status == 'DISPONIVEL' %}
                    <option value="DISPONIVEL" selected>DISPONIVEL</option>
                {% else %}
                    <option value="DISPONIVEL">DISPONIVEL</option>
                {% endif %}
                {% if edited_book.status == 'ARQUIVADO' %}
                <option value="ARQUIVADO" selected>ARQUIVADO</option>
                {% else %}
                <option value="ARQUIVADO">ARQUIVADO</option>
                {% endif %}
                {% if edited_book.status == 'EMPRESTADO' %}
                <option value="EMPRESTADO" selected>EMPRESTADO</option>
                {% else %}
                <option value="EMPRESTADO">EMPRESTADO</option>
                {% endif %}
            </select>
        </div>
    </form>
        <div class="row justify-content-md-center">
            <div class="col-auto">
                <button type='submit' form="book-editing" class="btn btn-light btn-border">Editar</button>    
            </div>
        </div>
</div>
<div class="input-group-container mt-2">
    <h5 class='mb-3'>Empréstimos</h3>
        {% if emprestimos %}
        <table class="table table-striped">
            <thead>
                <th>Cpf</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Prazo</th>
                <th></th>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                <tr>
                    <td>{{ emprestimo.cpf }}</td>
                    <td>{{ emprestimo.nome }}</td>
                    <td>{{ emprestimo.data }}</td>
                    {% if emprestimo.atrasado == "true" %}
                        <td style="color:red"><b>{{ emprestimo.prazo }}<b></td>
                    {% else %}
                        <td style="color:green"><b>{{ emprestimo.prazo }}<b></td>
                    {% endif %}
                    <td>
                        <form action="/devolver" method="post">
                            <input name="emprestimo-id" value="{{ emprestimo.id }}" type="hidden" >
                            <input name="book_id" value="{{ emprestimo.obra_id }}" type="hidden" >
                            <button style="border-style: none; background-color: inherit;" type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#B01F00" class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div>Não há empréstimos para essa obra.</div>
        {% endif %}
        <div>
            <form action="/emprestar" method="get">
                <input name="book_id" value="{{ edited_book.id }}" type='hidden'/>
                <button type='submit' class="btn btn-light btn-border mt-3">
                    Emprestar
                </button>
            </form>
        </div>
</div>
<div class="col-auto mt-4">
    <form action="/acervo/editar" method="post" onsubmit="return showWarning()">
        <input name="delete-id" value="{{ edited_book.id }}" type="hidden">
        <button class="btn btn-danger" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
              </svg> Deletar
        </button>
    </form>
</div>
<script>
    function showWarning() {
        var result = confirm("Essa ação apagará todos os registros do histórico relacionados à obra. Deseja continuar?");
        return result;
    }
</script>
{% endblock %}