{% extends "layout.html" %}

{% block title %}
    Acervo
{% endblock %}

{% block main %}
<!-- POP UP DE EDIÇÃO --> 
{% if edited_book %}
    <div id="popup-container">
        <div class="container popup-content px-3">
            <div class="d-grid justify-content-end">
                    <a href="/acervo" class="btn btn-danger" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
                        </svg>
                    </a>
            </div>
            <p style="margin: 0px">Editando...</p>
            <h3 class='mb-3'>{{ edited_book.titulo }}</h3>
            <form id="book-editing" class='px-md-5' action="/acervo" method="post">
                <input name="edited-book-id" value="{{ edited_book.id }}" type="hidden">
                
                <label for="titulo">Titulo</label>
                <div class="mb-3">
                    <input name="titulo-anterior" value="{{ edited_book.titulo }}" type="hidden">
                    <input name="edit-titulo" placeholder="{{ edited_book.titulo }}" class="form-control form-control.lg" autocomplete="off" autofocus class="form-control mx-auto w-auto" id="titulo" type="text">
                </div>                  
                <label for="autor">Autor</label>
                <div class="mb-3">
                    <input name="autor-anterior" value="{{ edited_book.autor }}" type="hidden">
                    <input name="edit-autor" placeholder="{{ edited_book.autor }}" id="autor" class="form-control form-control.lg"  type="text">
                </div>
                <label for="ano">Ano</label>
                <div class="mb-3">
                    <input name="ano-anterior" value="{{ edited_book.ano }}" type="hidden">
                    <input id="ano" class="form-control" name="edit-ano" placeholder="{{ edited_book.ano }}" type="text">
                </div>
                <label for="editora">Editora</label>
                <div class="mb-3">
                    <input name="editora-anterior" value="{{ edited_book.editora }}" type="hidden">
                    <input id="editora" class="form-control mx-auto" name="edit-editora" placeholder="{{ edited_book.editora }}" type="text">
                </div>
                <label for="status">Status</label>
                <div class="mb-3">
                    <input name="status-anterior" value="{{ edited_book.status }}" type="hidden">
                    <input name="edit-status" placeholder="{{ edited_book.status }}" id="status" class="form-control mx-auto"  type="text">
                </div>
            </form>
            <div class="d-grid gap-3 col-6 mx-auto">
                <button form="book-editing" class="d-block btn btn-primary" type="submit">Editar</button>
                <form action="/acervo" method="post">
                    <input name="delete-id" value="{{ edited_book.id }}" type="hidden">
                    <button class="btn btn-danger" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                          </svg> Excluir
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endif %}

<h3 class='mb-3'>Acervo</h3>
<!-- FILTROS -->
<div id="input-group">
    <form id="filtros-form" action="/acervo" method="get">
        <div class="row">
            <div class="col-lg-6">
                <input id="pagina" name="pagina" value="{{ page_data.atual }}" type="hidden">
                <div class="input-group mb-3">
                    <span class="input-group-text">Título</span>
                    <input name="filtro-titulo" type="text" class="form-control" placeholder="Tudo" autocomplete="off" value="{{ filtros.titulo }}">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">Autor</span>
                    <input name="filtro-autor" type="text" class="form-control" placeholder="Tudo" autocomplete="off" value="{{ filtros.autor }}">
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">Ano</span>
                    <input name="filtro-ano" type="text" class="form-control" placeholder="Tudo" autocomplete="off" value="{{ filtros.ano }}">
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <span class="input-group-text">Editora</span>
                    <input name="filtro-editora" type="text" class="form-control" placeholder="Tudo" autocomplete="off" value="{{ filtros.editora }}">
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-auto ustify-content-start mr-2">
                        <input name="mostrar-arquivados" id="archived-checkbox" type="checkbox" autocomplete="off" value="true">
                        <label for="archived-checkbox">Mostrar Arquivados</label>
                </div>
                <div class="col-auto">
                    <button type='submit' class="btn btn-light btn-border">Filtrar</button>
                </div>
                <div class="col-auto">
                    <a href="/acervo" type="button" class="btn btn-light btn-border">Limpar filtros</a>
                </div>
            </div>
            <div class="row justify-content-md-center mt-3">
                Mostrando {{ page_data.search_size }} obras
            </div>
        </div>
    </form>
</div>
<!-- TABELA DE ACERVO -->
<table class='table table-bordered table-striped' style='text-align:start'>
    <thead class="table-dark">
        <th>Título</th>
        <th>Autor</th>
        <th>Editora</th>
        <th>Ano</th>
        <th>Status</th>
        <th style="text-align: center;">
            <a type='button' class="btn btn-success mx-1" href="acervo/incluir" style="width: 90px; height: 40px">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg>
            </a>
        </th>
    </thead>
    <tbody>
        {% if acervo %}
            {% for livro in acervo %}
                <tr>
                    <td>{{ livro.titulo }}</td>
                    <td>{{ livro.autor }}</td>
                    <td>{{ livro.editora }}</td>
                    <td>{{ livro.ano }}</td>
                    <td>{{ livro.status[:5] }}</td>
                    <td class="options-cell">
                        <div class="btn-group">
                            <form action="/acervo" method="get">
                                <input name="edit-book" value="{{ livro.id }}" type='hidden'/>
                                <button type='submit' class="btn btn-outline-danger mx-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                    </svg>
                                </button>
                            </form>
                            <form action="/emprestar" method="get">
                                <input name="edit-book" value="{{ livro.id }}" type='hidden'/>
                                <button type='submit' class="btn btn-outline-primary mx-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
        <tr><td colspan="6"><h6 style="color:grey;text-align: center;">Nenhuma obra encontrada.</h6></td></tr>
        {% endif %}
    </tbody>
</table>
<div class="container">
    <div class="row justify-content-md-center align-items-center">
        {% if page_data.atual > 0 %}
            <div class="col-auto">
                <button class="btn btn-light btn-border" type="button" onclick="previousPage()">&lt;&lt; Anterior</button>
            </div>
        {% endif %}
        <div class="col-auto">
            pág. {{ page_data.atual }}/{{ page_data.max }}
        </div>

        {% if page_data.atual < page_data.max and page_data.max > 1 %}
            <div class="col-auto">
                    <button class="btn btn-light btn-border" type="button" onclick="nextPage()">Próxima &gt;&gt;</button>
            </div>
        {% endif %}
    </div>
</div>
<script>
    function nextPage() {
        let currentPage = document.getElementById("pagina");
        currentPage.value = Number(currentPage.value) + 1;
        submit();
    }
    function previousPage() {
        let currentPage = document.getElementById("pagina");
        currentPage.value = Number(currentPage.value) - 1;
        submit();        
    }
    function submit() {
        let form = document.getElementById("filtros-form");
        form.submit();
    }
</script>
{% endblock %}